
.popup{
    background-color: var(--color-light);
    min-height: calc(224px - 24px);
}


@media (max-width: 768px){
    .popup{
        border-radius: var(--border-radius--primary);
        padding: var(--padding-primary);
        max-width: calc(327px - 48px);
    }
}



@media (min-width: 768px){
    .popup{
        border-radius: calc(var(--border-radius--primary) * 2);
        padding: var(--padding-lg-screen);
        max-width: calc(654px - 112px);
    }
}