.game-over{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.game-over .popup{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.winner {
    background-color: var(--color-dark); 
}

.winner *{
    color: var(--color-light);
}

.game-over-header{
    text-align: center;
}

.game-over-header .title{
    color: var(--color-dark);
    font-size: 24px;
    font-family: var(--font-family-primary);
    margin-bottom: 9px;
}

.game-over-header .state{
    font-size: 14px;
    color: var(--color-light-blue);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
}

.result{
    display: flex;
    flex-direction: column;
}

.result .squares-hr{
    flex-direction: row;
    justify-content: space-between;
}

.result .squares-hr .sq-text,.sq-title{
    font-weight: var(--font-weight-bold);
}

@media (max-width:767px){
    .game-over .popup{
        gap: 24px;
    }
    .result{
        gap: 8px;
    }

    .result .squares-hr{
        width: calc(279px - 32px);
        padding: 16px;
    }

    .result .squares-hr .sq-title{
        font-size: 13px;
    }

    .result .squares-hr .sq-text{
        font-size: 20px;
    }

    .game-over-footer{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media (min-width:767px){
    .game-over .popup{
        gap: 20px;
    }

    .result{
        gap: 13px;
    }

    .game-over-header .title{
        font-size: 34px;
        margin-bottom: 10px;
    }

    .game-over-header .state{
        font-size: 15px;
    }

    .result .squares-hr{
        width: calc(542px - 64px);
        padding: 14px 32px;
    }

    .result .squares-hr .sq-title{
        font-size: 15px;
    }

    .result .squares-hr .sq-text{
        font-size: 24px;
    }

    .game-over-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .game-over-footer button{
        width: 264px;
        font-size: 18px;
        height: 50px;
        margin-bottom: 0;
    }
    

}