@media (max-width: 768px){
    .home-container{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 45px;
    }
    .select-them, .select-numbers, .select-grid-size{
        display: flex;
        justify-content: space-between;
    }
    .start-game{
        margin-top: 32px;
        text-align: center;
    }
}