.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .home-container{
        margin-top: 80px;
        gap: 45px;
    }
    .home-container .button{
        margin-bottom: var(--margin-primary);
    }

}

.start-game {
    text-align: center;
}

.start-game button{
    margin-bottom: 0px;
}

.select-them, .select-numbers, .select-grid-size{
    display: flex;
    justify-content: space-between;
}


@media (min-width: 768px){
    .home-container{
        margin-top: 60px;
        gap: 78px;
    }

    .home-container .button{
        margin-bottom: 32px;
    }
}