@media (max-width: 768px){
    .text-lable{
        color: var(--color-light-blue);
        font-size: var(--font-size-primary);
        font-weight: var(--font-weight-bold);
        font-family: var(--font-family-primary);
     }
}