.header{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.header .logo{
    color: var(--color-dark);
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
    filter: brightness(0.5);
    z-index: 1000;
}

@media (max-width: 767px){
    .header .logo{
        font-size: 24px;
    }
    .cn .popup button{
        margin-bottom: 16px;
    }

    .menu-popup .cn{
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

}

@media (min-width: 767px){
    .header{
        margin-top: 18px;
    }
    .header .logo{
        font-size: 40px;
    }

    .header button{
        font-size: 18px;
        margin-bottom: 0;
    }

    .header button:first-child{
        width: 127px !important;
        height: 45px !important;
    }

    .header button:nth-child(2){
        width: 149px !important;
        height: 45px !important;
    }
    .menu-popup{
        display: none;
    }
}





