.squares-hr,.squares-vr{
    background-color: var(--color-very-light) ;
    display: flex;
    align-items: center;
}


@media (max-width: 767px){
    .squares-hr{
        width: calc(151px - 64px);
        padding: 10px 32px;
    }

    .squares-vr{
        width: 64px;
        padding: 10px 14px;
        position:relative
    }

    .squares-vr.active::before {
        content: '';
        border-width: 16px;
        width: 0;
        height: 8px;
        background-color: red, green, black, yellow;
        position: absolute;
        border-style: solid;
        border-color: transparent transparent var(--color-orange) transparent;
        top: -57%;
    }
    .squares-vr.active{
        background-color: var(--color-orange);
    }
    .squares-vr.active *{
        color: var(--color-light);
    }

    .squares-hr,.squares-vr{
        border-radius: 5px;
        max-height: 70px;
        justify-content: center;
        flex-direction: column;
    }

    .footer:has(.squares-vr){
        gap: 24px;
    }
    
}


@media (min-width: 767px){
    .squares-hr{
        width: calc(240px - 42px);
    }

    .squares-hr,.squares-vr{
        border-radius: 10px;
        max-height: 72px;
        justify-content: space-between;
        flex-direction: row;
        padding: 32px 14px;
    }
}


