.grid-4x4,.grid-6x6{
   display: grid;
}

.grid-4x4 > .button-rounded,
.grid-6x6 > .button-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 767px){
     .grid-4x4,.grid-6x6{
          gap: 12.9px;
          margin-bottom: 102.12px;
          margin-left: auto;
          margin-right: auto;
          width: 327px;
     }

   .grid-4x4{
        grid-template-columns: repeat(4, 72.53px);
   }
   .grid-6x6{
        grid-template-columns: repeat(6, 46.88px);
        gap: 9.12px;
   }
   .grid-4x4 .button-rounded{
        width: 72.53px;
        height: 72.53px;
        font-size: 40px;
    }
   .grid-6x6 .button-rounded{
        width: 46.88px;
        height: 46.88px;
    }
}


@media (min-width: 767px){
     .grid-4x4{
          grid-template-columns: repeat(4, 118px);
          gap: 16px;
     }
     .grid-6x6{
          grid-template-columns: repeat(6, 82px);
          gap:8px;
     }
     .grid-4x4, .grid-6x6{
          margin-right: auto;
          margin-left: auto;
          width: 572px;
          margin-bottom: 32px;
     }
     .grid-4x4 .button-rounded{
          width: 90px;
          height: 90px;
          border-radius: 59px !important;
          margin-bottom: 0;
          font-size: 56px;
     }
     .grid-6x6 .button-rounded{
          width: 64px;
          height: 64px;
          margin-bottom: 0;
     }
}