:root{
    --font-family-primary: 'Atkinson Hyperlegible', sans-serif;
    --font-weight-light: 400;
    --font-weight-bold: 700;
    --color-light: #FCFCFC;
    --color-dark: #152938;
    --color-orange: #FDA214;
    --color-light-dark: #304859;
    --color-very-light:#DFE7EC;
    --color-gray: #BCCED9;
    --border-radius--primary: 10px;
    --padding-primary: 24px;
    --margin-primary: 24px


}


body{
    background-color: var(--color-dark);
}

@media (max-width: 768px){
    .conatainer{
        margin-right: var(--margin-primary);
        margin-left: var(--margin-primary);
     }
}


@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Big+Shoulders+Display:wght@700&family=Open+Sans:wght@400;700&display=swap');