.footer{
    display: flex;
}

@media (max-width: 767px){
    .footer{
       justify-content: space-between;
    }
 }


@media (min-width: 767px){
   .footer{
        gap: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 540px;
        height: 50px;
        margin-bottom: 10px;
   }
}